<%- include ('../cabecalho.ejs')%>
    <main class="container">
        <a href="/salas" class="back-link">← Voltar para lista</a>
        <div class="detail-box">
            <h2>Edição enviada!</h2>
        </div>
    </main>
    <%- include ('../rodape.ejs')%>