<%- include('cabecalho.ejs')%>

    <!-- Conteúdo Principal -->
    <main class="container">
        <h2>Bem-vindo ao Sistema de Futebol</h2>
        <p>Este sistema permite gerenciar informações sobre seleções e jogadores. Navegue pelas seções
            para visualizar, adicionar e gerenciar os dados.</p>
    </main>

    <%- include('rodape.ejs')%>