<%-include('../cabecalho.ejs')%>
    <header>
        <h3>Editar Gênero</h3>
    </header>
    <div class="content">
        <form id="form-genero" method="post" autocomplete="off">
            <div class="grid">
                <div>
                    <label for="nome">ID do Gênero</label>
                    <input id="id" value="<%=genero.id%>" name="id" type="text" placeholder="Ex:Gope" required>
                </div>
                <div>
                    <label for="nome">Nome do Gênero</label>
                    <input id="nome" value="<%=genero.nome%>" name="nome" type="text" placeholder="Ex:Gope" required>
                </div>
                <div class="field-help">Os campos com * são obrigatórios.</div>
                <footer>
                    <a type="button" class="btn ghost" id="btn-cancelar" href="/generos/lst">Cancelar</a>
                    <button type="submit" class="btn primary">Editar Gênero</button>
                </footer>
        </form>
    </div>

    <%-include('../rodape.ejs')%>