<%- include ('../cabecalho.ejs')%>
    <main class="container">
        <a href="/musicas" class="back-link">← Voltar para lista</a>
        <div class="detail-box">
            <h2>Cadastro enviado!</h2>
    </main>
    <%- include ('../rodape.ejs')%>